* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgba(42, 29, 42, 0.72);
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.d-block {
  width: 800px;
  border-radius: 40px;
}

.article-text p {
  color: rgb(172, 246, 242);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px 40px;
  text-align: center;
}

.article-text h2 {
  text-align: center;
  font-size: 3.5rem;
  padding: 20px;
}

.text-t {
  color: rgb(172, 246, 242);
}

.text-t-p {
  color: rgb(172, 246, 242);
}

.header {
  background-color: rgba(0, 0, 0, 0.7058823529);
  box-shadow: 1px 1px 5px 0px #565656;
  position: sticky;
  height: 70px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.menu {
  list-style: none;
}
.menu a:hover {
  background-color: rgba(42, 29, 42, 0.72);
  width: 100%;
}

.logo img {
  width: 130px;
  padding-top: 7px;
  padding-left: 20px;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background-color: #ededed;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background-color: #ededed;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.container-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  margin-bottom: 40px;
}

.section-contenedor {
  width: 100%;
  height: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-text {
  width: 50%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-container {
  margin-top: 0;
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #0e111c;
  font-size: 3rem;
  letter-spacing: 1rem;
  padding: 12px 0;
  /* text-shadow: 2px 2px map-get($paleta_de_colores, negro); */
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  color: #ededed;
}

.logo {
  display: inline-block;
  margin-left: 10px;
  margin-top: 6px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-position: center;
  background: no-repeat;
}

.f-container {
  width: 100%;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.7058823529);
  position: fixed;
  bottom: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.section {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section h2 {
  color: rgba(0, 0, 0, 0.7058823529);
  font-size: 3rem;
  padding: 30px;
}

main {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
}

.card01 {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 20px;
  display: block;
}

.card-info {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(32, 0, 25, 0.841);
  color: rgb(172, 246, 242);
  opacity: 0;
  pointer-events: none;
  transition: all 2 ease-in-out;
}

.card01:hover .card-info {
  opacity: 1;
  pointer-events: auto;
}

.card-info > div {
  padding: 1rem;
  border: thin solid #ededed;
  width: 100%;
  height: 100%;
}

.card-info > div h3 {
  text-align: center;
}

.grid-item img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px;
}
.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.container-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container-card .card-int {
  width: 20%;
  height: 60%;
  min-width: 310px;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container-card .card-int p {
  padding: 10px;
  color: rgb(172, 246, 242);
}
.container-card .card-int h3 {
  color: rgb(172, 246, 242);
}
.container-card .card-int:hover {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  transform: translateY(-15px);
  size: 1.5;
}
.container-card .card-int img {
  width: 90%;
  height: 50%;
  padding-top: 10px;
  border-radius: 30px;
}

.section-card {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-card .card {
  background-color: transparent;
  position: relative;
  width: 320px;
  height: 400px;
  margin: 40px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-card .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.7s;
}
.section-card .card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7058823529);
}
.section-card .card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-card .card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: rgb(172, 246, 242);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.section-card .card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgba(0, 0, 0, 0.85);
  padding: 15px;
  color: rgb(172, 246, 242);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0, 5px, 10px #000;
}
.section-card .card .back .link {
  border-top: solid 1px #f50a3d;
  height: 50px;
  line-height: 50px;
}
.section-card .card .back .link a {
  color: #f50a3d;
}
.section-card .card .back h3 {
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 2px;
}
.section-card .card .back p {
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.section-card .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.section-card .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

@media (min-width: 769px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: #f50a3d;
  }
  .hamb {
    display: none;
  }
}
@media (min-width: 500px) {
  .bred {
    grid-column: span 2;
  }
  .hoog {
    grid-row: span 2;
  }
}
@media (max-width: 414px) {
  .title {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
  }
  .container-card {
    display: inline-block;
    justify-content: center;
  }
  .card-int img {
    width: 200px;
  }
  .section {
    padding: 30px;
    width: 100%;
    height: 60vh;
  }
  .form-group {
    flex-direction: column;
  }
  .campo {
    margin: 0 0 15px 0;
    width: 100%;
  }
  .section-contenedor {
    width: 100%;
    height: 100%;
    margin-top: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .article-text {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30vh;
    text-align: center;
  }
  .article-text h1 {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
  }
  .article-text p {
    /* align-items: flex-start; */
    color: rgb(172, 246, 242);
    font-size: 1rem;
    padding: 10px 40px;
    text-align: center;
  }
  .car-container {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-top: 17px;
  }
  .carousel-inner {
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  .text-t-red {
    color: #f50a3d;
    font-size: 2rem;
  }
}
@media (min-width: 320px) {
  /*   .container-card {
    margin-top: 20px;
    margin-right: -15px;
  } */
  .card-int {
    width: 200px;
  }
  .s-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.acord {
  padding: 80px;
}

.icon {
  position: sticky;
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-top: -80px;
  border-radius: 50%;
  transition: all 0.8s;
  cursor: pointer;
}
.icon:hover {
  background-color: #e60073;
  box-shadow: 0 0 20px #e60073;
}
.icon:hover:nth-child(2) {
  background-color: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}
.icon:hover:nth-child(3) {
  background-color: #25d366;
  box-shadow: 0 0 20px #25d366;
}

.icon i {
  color: #ededed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
}

svg circle {
  stroke-dasharray: 150;
  transition: all 0.8s ease-in-out;
}

.icon:hover circle {
  stroke-dasharray: 220;
}

.btn-1 {
  display: inline-block;
  padding: 13px 35px;
  background-color: #f50a3d;
  color: #ededed;
  font-size: 1rem;
  margin-top: 25px;
  border: 0;
  cursor: pointer;
}

.inicio-1 {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0;
  padding-bottom: 50px;
}

.s-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.s-item h4 {
  color: rgb(172, 246, 242);
  text-align: center;
  font-size: 1rem;
}

.campo {
  padding: 13px 10px;
  background-color: #ededed;
  color: #0e111c;
  outline: none;
  font-size: 1rem;
  margin: 0 5px 5px 0;
  border: 0;
}
.campo::placeholder {
  color: #0e111c;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
