$paleta_de_colores: (
  gris: #8e9090,
  grey-shadow: #4b4a4a,
  purpura: rgba(112, 3, 88, 0.8),
  fucsia: #d3037c,
  negro: #000000b4,
  black-nav: rgba(0, 0, 0, 0.9),
  black-shadow: rgba(0, 0, 0, 0.4),
  btn-red: #f50a3d,
  blanco: #e2e2e2,
  insta: #e60073,
  face: #1877f2,
  what: #25d366,
  black-card: rgba(0, 0, 0, 0.55),
  text-card: rgb(196, 237, 237),
);
