.card01 {
  position: relative;
  @include ancho(100%);
  height: auto;
  margin: auto;
  padding-top: 20px;
  display: block;
}

.card-info {
  position: absolute;
  top: 20px;
  left: 0;
  @include ancho(100%);
  height: 100%;
  padding: 1rem;
  background-color: map-get($paleta_de_colores, purpura);
  color: map-get($paleta_de_colores, text-card);
  opacity: 0;
  pointer-events: none;
  transition: all 2 ease-in-out;
}

.card01:hover .card-info {
  opacity: 1;
  pointer-events: auto;
}

.card-info > div {
  padding: 1rem;
  border: thin solid map-get($paleta_de_colores, blanco);
  @include ancho(100%);
  height: 100%;
}

.card-info > div h3 {
  text-align: center;
}

.grid-item {
  img {
    @include ancho(250px);
    height: auto;
    border-radius: 10px;
    box-shadow: 1px;
  }

  &:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
}

.container-card {
  @include ancho(100%);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-bottom: 30px; */
}

.card-int {
  @include ancho(20%);
  height: 60%;
  min-width: 310px;
  border-radius: 30px;
  /* overflow: hidden; */
  margin: 20px;
  text-align: center;
  transition: all 0.25s;

  p {
    padding: 10px;
    color: map-get($paleta_de_colores, text-card);
  }

  h3 {
    color: map-get($paleta_de_colores, text-card);
  }

  &:hover {
    background-color: map-get($paleta_de_colores, black-card);
    box-shadow: 0 0 25px #e60073;
    transform: translateY(-15px);
    size: 1.2;
  }

  img {
    @include ancho(70%);
    height: 50%;
    padding-top: 10px;
    border-radius: 30px;
  }
}

.section-card {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: transparent;
  position: relative;
  width: 320px;
  height: 400px;
  margin: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.7s;
  }

  .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px map-get($paleta_de_colores, negro);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 45px;
      line-height: 45px;
      color: map-get($paleta_de_colores, text-card);
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
    }
  }

  .back {
    transform: perspective(600px) rotateY(180deg);
    background: map-get($paleta_de_colores, black-card);
    padding: 15px;
    color: map-get($paleta_de_colores, text-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0, 5px, 10px #000;

    .link {
      border-top: solid 1px map-get($paleta_de_colores, btn-red);
      height: 50px;
      line-height: 50px;

      a {
        color: map-get($paleta_de_colores, btn-red);
      }
    }

    h3 {
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px;
    }
    p {
      letter-spacing: 1px;
    }
  }
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
