.d-block {
  @include ancho(800px);
  border-radius: 20px;
}

.article-text p {
  color: map-get($paleta_de_colores, text-card);
  font-size: 1.3rem;
  font-weight: 300;
  padding: 5px 40px;
  text-align: center;
}

.article-text h2 {
  text-align: center;
  color: map-get($paleta_de_colores, btn-red);
  font-size: 3.5rem;
  padding: 20px;
}

.text-t {
  color: map-get($paleta_de_colores, text-card);
}

.text-t-p {
  color: map-get($paleta_de_colores, blanco);
}

.text-t-red {
  color: map-get($paleta_de_colores, btn-red);
  font-size: 3rem;
}
