.header {
  background-color: map-get($paleta_de_colores, negro);
  box-shadow: 1px 1px 5px 0px map-get($paleta_de_colores, grey-shadow);
  position: sticky;
  height: 70px;
  top: 0;
  @include ancho(100%);
  z-index: 1;
}
